{% load i18n horizon humanize sizeformat %}

<div class="quota-dynamic">
  <h3 class="quota-heading">{% trans "Limit Summary" %}</h3>
  <div style="text-align: right;" ng-controller="Hzrequestspanelcontroller as ctrl">
      <button class="btn btn-primary" ng-click="ctrl.openRequestForm($event)" title="Click to open Reques Quota Change form">Request quota change</button>
  </div>

    {% for quota in charts %}
    <div class="d3_quota_bar">
      <div class="d3_pie_chart_usage" data-used="{% quotapercent quota.used quota.max %}"></div>
      <strong> {{ quota.name }} <br />
      {% if quota.max|quotainf != '-1' %}
        {% blocktrans with used=quota.used|intcomma available=quota.max|quotainf|intcomma %}
        Used <span> {{ used }} </span>of<span> {{ available }} </span>{% endblocktrans %}
      {% else %}
        {% blocktrans with used=quota.used|intcomma %}
        Used <span> {{ used }} </span>(No Limit){% endblocktrans %}
      {% endif %}
      </strong>
    </div>
    {% endfor %}

</div>
