//colors
$color_wild_sand_approx: #f5f5f5;
$black: #000000;

#div-hzrequestspanel-button button{
    width: 200px;
    height: 100px;
    border: 0.1em solid #CCCCCC;
}

#div-button-help{
    text-align: right;
}

#button-request-help{
    border: 1px solid #000000;
    background-color: #eeeeee;
    font-size: 2em;
}

#div-quota-charts h4{
    text-align: center;
}

#div-quota-chart-compute{
    border-right: 0.1em solid #DDDDDD;
}

#div-quota-chart-storage-headers div.bold{
    text-align: center;
}

#div-quota-chart-storage-content{
    height: 240px;
    overflow-y: auto;
}

.storage-chart-volumes{
    margin-right: 1em;
}

md-toolbar.help-toolbar-header{
    background-color: #ffffff;
    border-bottom: 1px solid #DDDDDD;
    color: #000000;
}

.bold {
	font-weight: bold;
}
.now {
	background-color: $color_wild_sand_approx;
	text-align: center;
}
.after {
	text-align: center;
	background-color: $color_wild_sand_approx;
}
.form {
	font-size: 1.1em;
	h5 {
		font-weight: bold;
	}
        h3{
            border-bottom: 1px solid #DDDDDD;
            padding-bottom: 0.5em;
        }
	input[type='number'] {
		width: 8em;
		text-align: center;
	}
	textarea {
		width: 100%;
		min-height: 7em;
	}
	table {
		width: 100%;
		height: 100%;
	}
	.fila {
		border-bottom: 1px solid $color_wild_sand_approx;
		&:last-child {
			border: 0;
		}
	}
}
.border-section {
	border-top: 1px solid $black;
	border-bottom: 1px solid $black;
}
.fila {
	.div-title-fila {
		border-right: 1px solid $color_wild_sand_approx;
	}
	.fila-dato {
		cursor: pointer;
		&:hover {
			background-color: $color_wild_sand_approx;
		}
		div.bold {
			padding: 0.5em;
		}
	}
}
md-dialog {
	width: 80% !important;
	min-height: 740px !important;
}
.div-input-number {
	text-align: center;
	img {
		cursor: pointer;
	}
        span {
            padding: 0.5em;
        }
}
.div-request {
	border-bottom: 1px solid $color_wild_sand_approx;
	padding-bottom: 1em;
	&:last-child {
		border-bottom: 0;
		padding-bottom: 0;
	}
}
.div-title-fila div {
	margin-top: 2em;
        border: 1px dashed $black;
}
.volume-description table tr td:first-child {
	width: 48%;
	font-weight: bold;
}
#div_volume_data_headers div{
    text-align: center;
    font-weight: bold;
}

#section_compute.fila .fila-dato {
        cursor: default !important;
}

#div_storage_rows{
        overflow-y: auto;
        height: 240px;
}

#section_storage{
        min-height: 295px;
}

.loading {
        width: 100px;
        height: 100px;
        margin: auto;
}

#section_compute, #section_storage, #section_comments{
        font-size: 1em !important;
}

.personal_project_msg{
    margin-top: 3em;
}
