<div class="form" layout="column" layout-padding ng-controller="DialogController">
  <h3>Request quota change for "{$ project_name $}"</h3>
  <form name="hzrequestspanelForm">
  <div id="section_compute" layout="row" class="fila" layout-padding>
    <div flex="30" class="div-title-fila">
      <h4>Compute</h4>
    </div>
    <div flex layout="column">
      <div layout="row" class="fila-dato">
        <div flex class="bold">Number of instances</div>
        <div flex>
          <input type="hidden" id="instances_number_actual" value="{$ nova_limits.maxTotalInstances $}" />
          <input type="number" id="instances_number"
              ng-model="instances"
              ng-change="change_instances()"
              ng-mouseup="change_instances()"
              min="{$ nova_limits.totalInstancesUsed $}"
              tabindex="7"
              ng-pattern="/^[0-9]+$/"
              required />
          <span>{$ compute_change['instances'] $}</span>
        </div>
      </div>
      <div layout="row" class="fila-dato">
        <div flex class="bold">Number of cores</div>
        <div flex>
          <input type="hidden" id="cores_number_actual" value="{$ nova_limits.maxTotalCores $}"/>
          <input type="number" id="cores_number"
              ng-model="cores"
              ng-change="change_cores()"
              ng-mouseup="change_cores()"
              min="{$ nova_limits.totalCoresUsed $}"
              tabindex="8"
              ng-pattern="/^[0-9]+$/"
              required />
          <span>{$ compute_change['cores'] $}</span>
        </div>
      </div>
      <div layout="row" class="fila-dato">
        <div flex class="bold">RAM</div>
        <div flex>
          <input type="hidden" id="ram_number_actual" value="{$ nova_limits.maxTotalRAMSize $}"/>
          <input type="number" id="ram_number"
              ng-model="ram"
              ng-change="change_ram()"
              ng-mouseup="change_ram()"
              min="{$ nova_limits.totalRAMUsed $}"
              tabindex="9"
              ng-pattern="/^[0-9]*\.?[0-9]+$/"
              required
              step="0.5" />
          <span>{$ compute_change['ram'] $}</span>
        </div>
      </div>
    </div>
  </div>
  <div id="section_storage" layout="row" class="fila" layout-padding>
    <div flex="30" class="div-title-fila">
      <h4>Storage</h4>
      <div class="volume-description" ng-hide="volume_descrip" layout-padding layout-margin>
            <p>Click the volume type to get the volume description.</p>
      </div>
      <div class="volume-description" ng-show="volume_descrip" layout-padding layout-margin>
              <h5>Volume type description</h5>
              <table>
                <tbody>
                  <tr>
                    <td>Name: </td>
                    <td>{$name$}</td>
                  </tr>
                  <tr>
                    <td>Usage: </td>
                    <td>{$usage$}</td>
                  </tr>
                  <tr>
                    <td>Hypervisor: </td>
                    <td>{$hyper$}</td>
                  </tr>
                  <tr>
                    <td>Max IOPS: </td>
                    <td>{$max_iops$}</td>
                  </tr>
                  <tr>
                    <td>Max Throughput: </td>
                    <td>{$max_throughput$}</td>
                  </tr>
                </tbody>
              </table>
      </div>
    </div>
    <div flex layout="column">
      <div id="div_volume_data_headers" layout="row">
        <div flex></div>
        <div flex>Number</div>
        <div flex>Space</div>
      </div>
      <div class="loading" ng-show="loading_img_show_storage">
          <img ng-src="{$ static_url $}dashboard/project/hzrequestspanel/loading.svg" alt="loading spinner" />
      </div>
      <div id="div_storage_rows">
          <div layout="row" class="fila-dato"
              ng-repeat="vol_type in volume_type_list_limits"
              ng-click="show_volume(vol_type.id)">
              <input type="hidden" id="{$ vol_type.id $}_number_actual" value="{$ vol_type.volumes.total $}">
              <input type="hidden" id="{$ vol_type.id $}_size_actual" value="{$ vol_type.gigabytes.total $}">
              <div flex class="bold">{$ vol_type.name $}</div>
              <div flex layout="row" class="div-input-number">
                  <input type="number"
                         min="{$ vol_type.volumes.used $}"
                         id="{$ vol_type.name $}_number"
                         ng-change="changeNumber(vol_type.id, 'number')"
                         ng-mouseup="changeNumber(vol_type.id, 'number')"
                         ng-model="volume_fields[vol_type.id + '_number']"
                         tabindex="{$ $index + 10 $}"
                         ng-pattern="/^[0-9]+$/"
                         required />
                  <span>{$ volume_type_change[vol_type.id]['number'] $}</span>
              </div>
              <div flex layout="row" class="div-input-number">
                  <input type="number"
                         min="{$ vol_type.gigabytes.used $}"
                         id="{$ vol_type.name $}_size"
                         ng-change="changeNumber(vol_type.id, 'size')"
                         ng-mouseup="changeNumber(vol_type.id, 'size')"
                         ng-model="volume_fields[vol_type.id + '_size']"
                         tabindex="{$ $index + 11 $}"
                         ng-pattern="/^[0-9]+$/"
                         required />
                  <span>{$ volume_type_change[vol_type.id]['size'] $} GB</span>
              </div>
        </div>
      </div>
    </div>
  </div>
  <div id="section_comments" layout="row" class="fila" layout-padding>
    <div flex="30" class="div-title-fila">
      <h4>Additional comments</h4>
    </div>
    <div flex>
      <textarea id="textarea-comments" tabindex="30"></textarea>
    </div>
  </div>
  <div layout="row" layout-align="end center" class="fila" layout-padding>
        <div ng-show="!hzrequestspanelForm.$valid">
            Please review fields in red, you introduced incorrect values
        </div>
        <div><button class="btn btn-default secondary cancel" ng-click="cancel()" ng-disabled="request_sent" tabindex="31" title="Cancel operation and close form"><span class="fa fa-close">&nbsp;</span>Cancel</button></div>
        <div><button class="btn btn-default secondary cancel" ng-click="reset(false)" ng-disabled="request_sent" tabindex="32" title="Restore previous values">Reset</button></div>
        <div>
            <button class="btn btn-primary" ng-hide="request_sent" ng-click="send_request()" ng-disabled="!hzrequestspanelForm.$valid" tabindex="31" title="Send your request change">Submit</button>
            <button class="btn btn-default secondary" ng-show="request_sent" ng-disabled="true" style="width: 82px;"><img ng-src="{$ static_url $}dashboard/project/hzrequestspanel/loading-button.svg" alt="loading spinner" /></button>
        </div>
  </div>
  </form>
</div>
